
#map {
  height: 400px;
}

.paragraphs-item-jumbotron {
  padding: 30px 50px;
  background-color: #eee;
}

.field-name-field-jumbotron-title {
  font-size: 2em;
  font-weight: bold;
}

.field-name-field-paragraphs-kit-question {
  font-weight: bold;
}

.field-name-field-paragraphs-kit-slide-title {
  font-size: 2em;
  font-weight: bold;
}
